In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\shree\anaconda3\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\shree\anaconda3\lib\site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
Driver to connect python to mongodb

SyntaxError: invalid syntax (1351535425.py, line 1)

In [3]:
import pymongo

In [12]:
client=pymongo.MongoClient('mongodb://localhost:27017/')

In [27]:
client2=pymongo.MongoClient('mongodb://localhost:27017/')

In [28]:
db=client2["parchi"]

In [29]:
collection=db["data"]

In [30]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'parchi'), 'data')

In [31]:
student_data=db.data

In [32]:
student_id=student_data.insert_one({"name":"chetana","city":"pune"}).inserted_id

In [13]:
db=client["chetana123"]

In [14]:
collection=db["chetana123"]

In [15]:
print(collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'chetana123'), 'chetana123')

#### to insert document in collection

In [16]:
student_data=db.student_data

In [20]:
student_id=student_data.insert_one({"name":"chetana","city":"pune"}).inserted_id

In [21]:
print(student_id)

659f722ec9c7638ea178ce01

In [22]:
db=client["nagpur_data"]

In [24]:
data=db.nagpur_data.insert_one({"name":"abc"}).inserted_id

# database2

In [25]:
mydb=client["Emplyees_data"]
empinfo=mydb.employeeinfo

In [26]:
record={
    "firstname":"chetana",
    "lastname":"vasave",
    "dept":"data science",
    "expereince":"3years"
}
empinfo.insert_one(record)

InsertOneResult(ObjectId('659f743fc9c7638ea178ce03'), acknowledged=True)

In [41]:
mydb2=client2["Sayali"]
data=mydb2.details

In [34]:
record={
    "firstname":"chetana",
    "lastname":"vasave",
    "dept":"data science",
    "expereince":"3years"
}
data.insert_one(record)

InsertOneResult(ObjectId('659f7b61c9c7638ea178ce06'), acknowledged=True)

In [35]:
import json

In [42]:
with open(r"C:\Users\admin\Desktop\File Oprations\data.json") as file:
    data1=json.load(file)

In [48]:
mydb3=client2["priyanka"]
data=mydb3.details

In [49]:
data1

{'emp_details': [{'emp_name': 'Sayli',
   'email': 'sayali123@gmail.com',
   'job_prtofile': 'data scintist'},
  {'emp_name': 'prachi',
   'email': 'prachi123@gmail.com',
   'job_prtofile': 'dataanalyst'},
  {'emp_name': 'Gauri',
   'email': 'Gauri123@gmail.com',
   'job_prtofile': 'It Engineer'}],
 '_id': ObjectId('659f7bf9c9c7638ea178ce07')}

In [50]:
data.insert_one(data1)

InsertOneResult(ObjectId('659f7bf9c9c7638ea178ce07'), acknowledged=True)